<div class="w-[100vw] h-fit flex justify-center">
    <div class="text-white w-full max-w-[600px] h-fit bg-[#262626] rounded-[10px] px-[30px] py-[20px] flex flex-col gap-[10px]">
        <div class="w-full flex justify-between h-[150px]">
            <div class="aspect-square h-[140px] rounded-[50%] z-[5] border-[0px] border-[#ffdd09]" style="background-image: url('https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ'); background-size: 100% 100%; background-position: center;">
            </div>
            <div class="text-right flex flex-col justify-center">
                <div class="text-[32px] leading-[32px] text-[#ffdd09]">{{selectedProfile?.name}}</div>
                <div class="text-[24px] text-gray-300 leading-[32px]">[{{selectedProfile?.username}}]</div>
                <div class="text-[20px] text-gray-500 leading-[32px] italic">{{selectedProfile?.email}}</div>
                <div class="text-[18px] text-gray-500 leading-[32px] italic">{{selectedProfile?.phone}}</div>
            </div>
        </div>
        <div class="w-full h-[1px] bg-[#4d4c4c]"></div>
    </div>
</div>
